@media (max-width: 1312px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  }

  .sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
  }

  .sidebar-link div {
    font-size: 10px;
  }
}

@media (min-width: 1312.1px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 230px;
    background-color: white;    
    z-index: 200;
    padding-top: 14px;
  }

  .sidebar-link {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 24px;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 24px;
    margin-right: 25px;
  }

  .sidebar-link div {
    font-size: 14px;
  }
}
